/* ubuntu-regular - latin */
/* ubuntu-300 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ubuntu/ubuntu-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url("../fonts/ubuntu/ubuntu-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-v13-latin-300.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-v13-latin-300.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v13-latin-300.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-v13-latin-300.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu/ubuntu-v12-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("../fonts/ubuntu/ubuntu-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-v12-latin-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-v12-latin-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v12-latin-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-v12-latin-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ubuntu/ubuntu-v12-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url("../fonts/ubuntu/ubuntu-v12-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-v12-latin-500.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-v12-latin-500.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v12-latin-500.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-v12-latin-500.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ubuntu/ubuntu-v12-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../fonts/ubuntu/ubuntu-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-v12-latin-700.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-v12-latin-700.woff") format("woff"), url("../fonts/ubuntu/ubuntu-v12-latin-700.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-v12-latin-700.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
/* elsie-regular - latin */
@font-face {
  font-family: "Elsie";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/elsie/elsie-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Elsie Regular"), local("Elsie-Regular"), url("../fonts/elsie/elsie-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/elsie/elsie-v8-latin-regular.woff2") format("woff2"), url("../fonts/elsie/elsie-v8-latin-regular.woff") format("woff"), url("../fonts/elsie/elsie-v8-latin-regular.ttf") format("truetype"), url("../fonts/elsie/elsie-v8-latin-regular.svg#Elsie") format("svg");
  /* Legacy iOS */
}
/* elsie-900 - latin */
@font-face {
  font-family: "Elsie";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/elsie/elsie-v8-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Elsie Black"), local("Elsie-Black"), url("../fonts/elsie/elsie-v8-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/elsie/elsie-v8-latin-900.woff2") format("woff2"), url("../fonts/elsie/elsie-v8-latin-900.woff") format("woff"), url("../fonts/elsie/elsie-v8-latin-900.ttf") format("truetype"), url("../fonts/elsie/elsie-v8-latin-900.svg#Elsie") format("svg");
  /* Legacy iOS */
}
/* elsie-swash-caps-regular - latin */
@font-face {
  font-family: "Elsie Swash Caps";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/elsie/elsie-swash-caps-v7-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Elsie Swash Caps Regular"), local("ElsieSwashCaps-Regular"), url("../fonts/elsie/elsie-swash-caps-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/elsie/elsie-swash-caps-v7-latin-regular.woff2") format("woff2"), url("../fonts/elsie/elsie-swash-caps-v7-latin-regular.woff") format("woff"), url("../fonts/elsie/elsie-swash-caps-v7-latin-regular.ttf") format("truetype"), url("../fonts/elsie/elsie-swash-caps-v7-latin-regular.svg#ElsieSwashCaps") format("svg");
  /* Legacy iOS */
}
/* elsie-swash-caps-900 - latin */
@font-face {
  font-family: "Elsie Swash Caps";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/elsie/elsie-swash-caps-v7-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Elsie Swash Caps Black"), local("ElsieSwashCaps-Black"), url("../fonts/elsie/elsie-swash-caps-v7-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/elsie/elsie-swash-caps-v7-latin-900.woff2") format("woff2"), url("../fonts/elsie/elsie-swash-caps-v7-latin-900.woff") format("woff"), url("../fonts/elsie/elsie-swash-caps-v7-latin-900.ttf") format("truetype"), url("../fonts/elsie/elsie-swash-caps-v7-latin-900.svg#ElsieSwashCaps") format("svg");
  /* Legacy iOS */
}

/*# sourceMappingURL=fonts.css.map */
